<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
     <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #5b5b5b;
      border-radius: 3px;
      font-size: 16px;
    }

    input[type="submit"] {
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 18px;
      border-radius: 3px;
      margin-left: 50px;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    /* Optional: Add more styling for labels, placeholders, etc. */
    label {
      font-weight: bold;
    }

  </style>
</head>
<body>

  <form action="reset" method="post">
    <h3 style="margin-left: 70px;">Reset your password</h3>
    {{!-- <div>{{this.id}}hello</div> --}}
    
    <input type="password" name="password" placeholder="Enter Password">
    <br><br>
    <input type="password" name="confpassword" placeholder="Enter Confirm password">
    <br><br>
    <button type="submit">submit</button>
    
  </form>
</body>
</html>